<div class="card-body pt-4 p-3">
  <ul style="max-height: 600px; overflow-y: auto;" class="list-group">
    <% wallet.wallet.refund.forEach((row,index)=>{ %>

      <% if (row.status == 'paid') { %>

        <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
          <div class="d-flex align-items-center">
                <button class="btn btn-icon-only btn-rounded btn-outline-danger mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-down"></i></button>
            <div class="d-flex flex-column">
              <h6 class="mb-1 text-dark text-sm"><%= row.productname %></h6>
              <span class="text-xs"><%= row.date %></span>
            </div>
          </div>
          <div class="d-flex align-items-center text-danger text-gradient text-sm font-weight-bold">
            + &#x20B9; <%= row.amount %>
          </div>
        </li>
        <hr>
       
      <% } else if (row.status == 'credited') { %>
       
        <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
          <div class="d-flex align-items-center">
            <button class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></button>
            <div class="d-flex flex-column">
              <h6 class="mb-1 text-dark text-sm"><%= row.productname %></h6>
              <span class="text-xs"><%= row.date %></span>
            </div>
          </div>
          <div class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">
            + &#x20B9; <%= row.amount %>
          </div>                
        </li>
        <hr> 
        <% } %>                   
    <% }) %>


    
  </ul>
</div>