<%-include('header')-%>
<button id="edit-profile" class="btn btn-secondary"> <a href="/userProfile" style="color: white; margin-bottom: 20px;">GO BACK</a> </button>
<form  id="edit-profile-form" action="/changePassword" method="POST">
    <section style="background-color: #000000; height: 50vh; display: flex; align-items: center;">
        <div class="container">
            <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <!-- <form id="edit-profile-form"> -->
                            <div style="background-color: black;padding: 5px;margin-bottom: 15px; text-align: center;">
                                <h2 style="color: white;margin-top: 10px;">CHANGE PASSWORD</h2>
                            </div>
                            <% if (message) { %>
                                <div class="alert alert-<%= message.type %> alert-dismissible fade show" role="alert" id="alert">
                                    <strong><%= message.message %></strong>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            <% } %> 
                            <div class="row mb-3">
                                <label for="name" class="col-sm-3 col-form-label">Current Password</label>
                                <div class="col-sm-9">
                                    <input type="password" name="password1" class="form-control" id="name"  required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="email" class="col-sm-3 col-form-label">New Password</label>
                                <div class="col-sm-9">
                                    <input type="password" name="password2" class="form-control" id="password2"   required>
                                    <div id="error" style="color: rgb(175, 0, 0);"></div>
                                </div>
                            </div>
                            <!-- <button type="button" id="enable-edit" class="btn btn-secondary">Enable Edit</button> -->
                            <button type="submit" class="btn btn-primary" id="pass" >Save Changes</button>                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- </form> -->

<script>
    document.getElementById('pass').addEventListener('click',(e)=> {
        e.preventDefault();

        const CustomerPassword = document.getElementById('password2').value.trim();

        //Password format rules
        const hasUppercase = /[A-Z]/.test(CustomerPassword);
        const hasLowercase = /[a-z]/.test(CustomerPassword);
        const hasDigit = /\d/.test(CustomerPassword);
        if (CustomerPassword.length < 8 || !hasUppercase || !hasLowercase || !hasDigit) {
            document.getElementById('error').innerHTML = 'Password should contain 8 character,one Uppercase one lowercase and Digit';
            return;
        }
        document.getElementById('edit-profile-form').submit();
        });
</script>


<%-include('footer')-%>
