<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Otp-Verification</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <style>
    header {
      background-color: #333;
      padding: 15px 0;
      color: #fff;
      text-align: center;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000;
     }
     nav {
      display: flex;
      justify-content: center;
     }

        nav a {
            color: #fff;
            margin: 0 15px;
            text-decoration: none;
            font-weight: bold;
        }
        body {
          padding-top: 150px;
          background: #c9c9d0;
}
.text-color {
  color: #000000;
}

.card {
  width: 350px;
  padding: 10px;
  border-radius: 5px;
  background: #a9b0b0;
  border: none;
  position:relative;
}
.container {
  
  height: 100vh;
}
.mobile-text {
  color: #000000;
  font-size: 15px;
}
.form-control {
  margin-right: 12px;
}
.form-control:focus {
  color: #084f96;
  background-color: #46becb66;
  border-color: #030202;
  outline: 0;
  box-shadow: none;
  
}
.cursor {
  cursor: pointer;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin:0px;
}

button{
  width: 150px;
  height: 45px;
  border-radius: 25x;
  cursor: pointer;
  font-size: 16px;
  border: none;
  color: aliceblue;
  margin: 20px;
}
button:hover{
  background: black;
}


  </style>
  </head>
  <body>
    <header>
      <nav>
          <a href="#">Home</a>
      </nav>
  </header>
    <form>
      <div class="d-flex justify-content-center align-items-center continer">
        <span class="d-block mobile-text" id="error-message" style="color: red;"></span>
      <div class="card py-5 px-3">
        <h5 class="m-0">OTP VERIFICATION</h5>
        <span class="mobile-text"
          ><b>Enter the code we just sent on your email,</b>
          
        </span>
        <form action="/otp/<%= email %>" method="POST" id="otpForm">
        <div class="d-flex flex-row mt-5">
          <input id="otp" name="otp" type="text" class="form-control" />
        </div>
        <div class="text-center mt-5">
          <button type="button" id="submitBtn" style="margin-top: -20px; margin-bottom: 20px;" class="btn-dark">Submit</button>
          <span class="d-block mobile-text" id="countdown"></span>
          <span class="d-block mobile-text" id="resend"></span>
          <span class="d-block mobile-text" id="error-message" style="color: red;"></span>

        </div>
      </div>
    </div>
  </form>
    <script>
     let timerOn = true;

function timer(remaining) {
  var m = Math.floor(remaining / 60);
  var s = remaining % 60;
  m = m < 10 ? "0" + m : m;
  s = s < 10 ? "0" + s : s;
  document.getElementById(
    "countdown"
  ).innerHTML = `Time left: ${m}:${s}`;
  remaining -= 1;
  if (remaining >= 0 && timerOn) {
    setTimeout(function () {
      timer(remaining);
    }, 1000);
    document.getElementById("resend").innerHTML = ``;
    return;
  }
  if (!timerOn) {
    return;
  }
  document.getElementById("resend").innerHTML = `Don't receive the code? 
    <span class="font-weight-bold text-color cursor" onclick="resendOtp()"><a href="/resendOtp">Resend</a>
    </span>`;
}

function resetTimer() {
  timerOn = true;
  timer(60);
}

timer(60);

document.getElementById('submitBtn').addEventListener('click',() => {
const otp = document.getElementById('otp').value;
const email = '<%= email %>';

fetch('/reset', {
  method : 'POST',
  headers : {
    'content-type': 'application/json' 
  },
  body : JSON.stringify({otp})
})
.then(response => response.json())
.then(data =>{
  const errorMessageElement = document.getElementById('error-message');

  if(data.message == 'Otp Matching'){
    window.location.href = '/newresetPasswrod'
  }else {
        errorMessageElement.textContent = 'Invalid OTP. Please try again.';
      }
})

});



</script>
</body>
</html>





 -->



<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Otp-Verification</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <style>

        body {
          padding-top: 150px;
          background: #bdb8b8;
}
.text-color {
  color: #000000;
}

.card {
  width: 350px;
  padding: 10px;
  border-radius: 2px;
  background: #6f6e6e;
  border: none;
  position:relative;
}
.container {
  
  height: 100vh;
}
.mobile-text {
  color: #000000;
  font-size: 15px;
}
.form-control {
  margin-right: 12px;
}
.form-control:focus {
  color: #084f96;
  background-color: #46becb66;
  border-color: #030202;
  outline: 0;
  box-shadow: none;
  
}
.cursor {
  cursor: pointer;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin:0px;
}

button{
  width: 150px;
  height: 45px;
  border-radius: 25x;
  cursor: pointer;
  font-size: 16px;
  border: none;
  color: aliceblue;
  margin: 20px;
}
button:hover{
  background: black;
}

  </style>
  </head>
  <body>
    <form>
      <div class="d-flex justify-content-center align-items-center continer">
      <div class="card py-5 px-3">
        <h5 class="m-0">OTP VERIFICATION</h5>
        <span class="mobile-text"
          ><b>Enter the code we just sent on your email,</b>
        </span>
        <div style="color: red;" id="message"></div>
        <div class="d-flex flex-row mt-5">
          <input id="otp" name="otp" class="form-control" />
        </div>
        <div class="text-center mt-5">
            <button id="button1" type="button" style="margin-top: -20px;margin-bottom: 20px ;" class="btn-dark ">Submit</button>
          <span class="d-block mobile-text" id="countdown"></span>
          <span class="d-block mobile-text" id="resend"></span>
        </div>
      </div>
    </div>
  </form>

    <script>
     let timerOn = true;

function timer(remaining) {
  var m = Math.floor(remaining / 60);
  var s = remaining % 60;
  m = m < 10 ? "0" + m : m;
  s = s < 10 ? "0" + s : s;
  document.getElementById(
    "countdown"
  ).innerHTML = `Time left: ${m}:${s}`;
  remaining -= 1;
  if (remaining >= 0 && timerOn) {
    setTimeout(function () {
      timer(remaining);
    }, 1000);
    document.getElementById("resend").innerHTML = `
      `;
    return;
  }
  if (!timerOn) {
    return;
  }
  document.getElementById("resend").innerHTML = `Don't receive the code? 
    <span class="font-weight-bold text-color cursor" onclick="resendOtp()"><a href="/resendOtp1">Resend</a>
    </span>`;
}

function resetTimer() {
  timerOn = true;
  timer(60);
}
timer(60);

</script>

<script>
  document.getElementById('button1').addEventListener('click',()=>{

      const otpValue = document.getElementById('otp').value

      console.log(otpValue);

      document.getElementById('message').innerHTML=''

      fetch('/reset',{
          method: 'POST',
          headers: {
              'Content-Type' : 'application/json'
          },
          body: JSON.stringify({otpValue})
      })
      .then(response=> response.json())
      .then(data=>{
        console.log(data);
          if(data.message=='success'){
              window.location.href='/newresetPasswrod'
          }
          else if(data.message=='errorotp'){
              document.getElementById('message').innerHTML='Invalid OTP'
              document.getElementById('otp').value=''
              setTimeout(() => {
              document.getElementById('message').innerHTML=''
              }, 3000);
          }
      })
  })
  </script>


</body>
</html>
