
<%-include('header')-%>

<!--Body Content-->
<div id="page-content">        
    <!-- Lookbook Start -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">	
                <div class="empty-page-content text-center">
                    <h4 style="font-size: 35px;">THANK YOU</h4>
                    <p style="animation: blink 1s infinite; opacity: 1; font-size: 24px;">Your Order was successfully Completed</p>
                    <style>@keyframes blink { 0%, 100% { opacity: 1; } 50% { opacity: 0; } }</style>
                    <p><a href="/" class="btn btn--has-icon-after">Continue shopping <i class="fa fa-caret-right" aria-hidden="true"></i></a></p>
                  </div>
            </div>
        </div>
    </div>
    <!-- Lookbook Start -->
</div>


<%-include('footer')-%>